# ======================
# Python bytecode
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual environments
# ======================
venv/
.env/
.env.*
.venv/
ENV/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs and runtime files
# ======================
*.log

# ======================
# Build artifacts
# ======================
build/
dist/
*.egg-info/

# ==========
